.about-us
{
    font-size: 1.3em;
}
.box_1, .box_2
{
    padding:30px;
    width:50%;
}
.box_1 img
{
    float:left;
}
.box_2 img
{
    float:right;
}
.box_1
{
    float:left;
}
.box_2
{
    float:right;
}
.empty
{
    clear:both;
}
img
{
    width:300px !important;
    height:300px !important;
}