#shopCart
{
    position:fixed;
    top:40%;
    left:50%;
    width:50%;
    min-height:50vh;
    transform:translate(-50%,-50%);
    background-color: rgba(81,41,31,0.9);
    backdrop-filter: blur(3px);
    border-radius:10px;
    z-index:3;
}
#shopCart .turnOff
{
    position:absolute;
    top: 0;
    right: 0;
    margin:10px 10px;
    border-radius:10px;
    padding:0;
    width:30px;
    height:30px;
}
#shopCart h2
{
    text-align: center;
    margin-top:10px;
}
#shopCart ol li
{
    width:100%;
    margin:20px 0;
    overflow-y: hidden;
}
#shopCart ol li div
{
    float:left;
    display:flex;
    align-items:center;
}
#shopCart ol li .right
{
    float:right;
    height: 100px;
}
#shopCart ol li img
{
    width:100px;
    height:100px;
}
p.name
{
    margin-left:20px;
}
#shopCart ol li:hover
{
    background-color:#874f2c;
}
#shopCart .amountContainer button
{
    margin:0;
    width:35px;
    height:35px;
}
#shopCart .amountContainer .amount
{
    width:30px;
    text-align:center;
}
#shopCart .price
{
    min-width:100px;
    text-align: center;
}
#buy
{
    display: block;
    margin: 20px auto;
}
#shopCart p {
    text-align: center;
}
@media (max-width:1000px)
{
    #shopCart
    {
        width:90%;
    }
}
@media (max-width:500px)
{
    #shopCart ol li img{
        width:50px;
        height:50px;
    }
    #shopCart ol li .right{
        height:50px;
    }
    #shopCart .price
    {
        min-width:60px;
    }
    p.name{
        margin-left:5px;
    }
    #shopCart .amountContainer button
    {
        width:25px;
        height: 25px;
        padding:0;
    }
    #shopCart .amountContainer .amount
    {
        width:20px;
    }
}